
{% extends "dashboard/main.html" %}
{% load static %}
{% block content %}
<h1>Create Groups</h1>
<form method="post">
    {% csrf_token %}
    <label>Group Name : </label>
    <br>
    <input type="text" name="groupName" value="{{ name }}">
    <br>
    <br>
    <label>Permissions : </label>
    <select multiple="multiple" name="permissions" class="form-control tagging">
        {% for i in permissions %}
        <option value="{{i}}" {% for m in menu %} {% if m == i %} selected {% endif %} {% endfor %}>{{i}}</option>
        {% endfor  %}
        </select>
        <br>
    <button type="submit">submit</button>
</form>
{% endblock %}