{% extends "dashboard/main.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .no_button{
        background: none;
        border: none;
    }
    .hr-text {
        line-height: 1em;
        position: relative;
        outline: 0;
        border: 0;
        color: black;
        text-align: center;
        height: 1.5em;
        opacity: 0.5;
    }
    .hr-text:before {
        content: "";
        background: linear-gradient(to right, transparent, #818078, transparent);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
    }
    .hr-text:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: black;
        padding: 0 0.5em;
        line-height: 1.5em;
        background-color: #fcfcfa;
    }
    @media(max-width: 600px){
        #content_wrap{
            margin: 0 5% !important;
        }
    }
</style>
<div class="page-wrapper cardhead" style="margin: 0 5% !important; padding: 30px 0 0 !important;" id="content_wrap">
                
    <div class="content container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Compose</h4>
                    </div>
                    <div class="card-body">

                        <div id="progrss-wizard" class="twitter-bs-wizard">
                            <ul class="twitter-bs-wizard-nav nav nav-pills nav-justified">
                                <li class="nav-item">
                                    <a href="#progress-seller-details" class="nav-link" data-toggle="tab">
                                        <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Choose Recipients">
                                            <i class="far fa-user"></i>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#progress-company-document" class="nav-link" data-toggle="tab">
                                        <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Use template ">
                                            <i class="fas fa-map-pin"></i>
                                        </div>
                                    </a>
                                </li>
                                
                                <li class="nav-item">
                                    <a href="#progress-bank-detail" class="nav-link" data-toggle="tab">
                                        <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Compose">
                                            <i class="fas fa-paper-plane"></i>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <!-- wizard-nav -->

                            <div id="bar" class="progress mt-4">
                                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"></div>
                            </div>
                            <div class="tab-content twitter-bs-wizard-tab-content">
                                <div class="tab-pane" id="progress-seller-details">
                                    <div class="mb-4">
                                        <h5>Choose Recipients</h5>
                                    </div>
                                    <div class="container" style="margin-top: 20px;">
                                        <p>Number of variables</p>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <input type="number" id="no_of_var" class="form-control" name="no_of_var">
                                            </div>
                                        </div>
                                        <br>
                                        <p style="margin-bottom: 0px;">Import CSV</p>
                                        <a href="{% static 'sample.csv' %}" download="sample.csv">Download Sample File</a>
                                        <br><br><br>
                                        <input type="file" id="fileInput" accept=".csv" onchange="handleFileSelect(event)" class="form-control">
                                        <br>
                                        <hr class="hr-text" data-content="OR">
                                        <p style="text-align: center; position: relative; bottom: 25px;">OR</p>
                                        <p>Add Recipient</p>
                                        <div class="row" id="recipient_input">
                                            <div class="col-md-3"><label for="recipient_email">Email</label><input type="email" name="recipient_email" id="recipient_email" class="form-control"></div>
                                            <div class="col-md-2"><br><button class="btn btn-primary" onclick="populate_ind_table()">Add</button></div>
                                        </div>
                
                                        <hr>
                                        <div class="card">
                                            <div class="card-body">
                                                <p>Recipient List</p>
                                                <div class="table-top">
                                                    <div class="search-set">
                                                        <div class="search-input">
                                                            <a class="btn btn-searchset"><img src=" {% static 'assets/img/icons/search-white.svg' %} "
                                                                    alt="img"></a>
                                                        </div>
                                                    </div>
                                                    <div class="wordset">
                                                        <ul>
                                                            <li>
                                                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img
                                                                        src=" {% static 'assets/img/icons/pdf.svg' %} " alt="img"></a>
                                                            </li>
                                                            <li>
                                                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
                                                                        src=" {% static 'assets/img/icons/excel.svg' %} " alt="img"></a>
                                                            </li>
                                                            <li>
                                                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                                                                        src=" {% static 'assets/img/icons/printer.svg' %} " alt="img"></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table datanew" id="tableP">
                                                        <thead >
                                                            <tr>
                                                                <th>Email</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="output">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="pager wizard twitter-bs-wizard-pager-link">
                                        <li class="next"><a href="javascript: void(0);" class="btn btn-primary" onclick="nextTab()">Next <i
                                            class="bx bx-chevron-right ms-1"></i></a></li>
                                    </ul>
                                </div>
                                <div class="tab-pane" id="progress-company-document">
                                    <div>
                                    <div class="mb-4">
                                        <h5>Choose Template</h5>
                                    </div>
                                    <div class="container" style="margin-top: 20px;">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="table-top">
                                                    <div class="search-set">
                                                        <div class="search-input">
                                                            <a class="btn btn-searchset"><img src=" {% static 'assets/img/icons/search-white.svg' %} "
                                                                    alt="img"></a>
                                                        </div>
                                                    </div>
                                                    <div class="wordset">
                                                        <ul>
                                                            <li>
                                                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img
                                                                        src=" {% static 'assets/img/icons/pdf.svg' %} " alt="img"></a>
                                                            </li>
                                                            <li>
                                                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
                                                                        src=" {% static 'assets/img/icons/excel.svg' %} " alt="img"></a>
                                                            </li>
                                                            <li>
                                                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                                                                        src=" {% static 'assets/img/icons/printer.svg' %} " alt="img"></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="modal fade" id="myModal" role="dialog">
                                                    <div class="modal-dialog modal-lg">
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                          <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                                                          <h4 class="modal-title">Preview</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                          <p id="modal_content"></p>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table datanew">
                                                        <thead>
                                                            <tr>
                                                                <th>Template Name</th>
                                                                <th>Visibitlity</th>
                                                                <th>Created By</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for template in templates %}
                                                            <tr>
                                                                <td>{{ template.name }}</td>
                                                                {% if template.visibility %}
                                                                <td>Public</td>
                                                                {% else %}
                                                                <td>Private</td>
                                                                {% endif %}
                                                                <td>{{ template.created_by }}</td>
                                                                <td>
                                                                    <div style="display: none;" id="content_{{template.id}}">
                                                                        {{ template.body|safe }}
                                                                    </div>
                                                                    <a class="me-3" onclick="template_populate('{{ template.id }}')">
                                                                        <i class="fas fa-share"></i>
                                                                    </a>
                                                                    <button type="button" class="no_button" data-bs-toggle="modal" data-bs-target="#myModal" onclick="content_populate('{{ template.id }}')"><img src=" {% static 'assets/img/icons/eye1.svg' %} " alt="img"></button>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                            {% for template in public_templates %}
                                                            <tr>
                                                                <td>{{ template.name }}</td>
                                                                {% if template.visibility %}
                                                                <td>Public</td>
                                                                {% else %}
                                                                <td>Private</td>
                                                                {% endif %}
                                                                <td>{{ template.created_by }}</td>
                                                                <td>
                                                                    <div style="display: none;" id="content_{{template.id}}">
                                                                        {{ template.body|safe }}
                                                                    </div>
                                                                    <a class="me-3" onclick="template_populate('{{ template.id }}')">
                                                                        <i class="fas fa-share"></i>
                                                                    </a>
                                                                    <button type="button" class="no_button" data-bs-toggle="modal" data-bs-target="#myModal" onclick="content_populate('{{ template.id }}')"><img src=" {% static 'assets/img/icons/eye1.svg' %} " alt="img"></button>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="pager wizard twitter-bs-wizard-pager-link">
                                        <li class="previous"><a href="javascript: void(0);" class="btn btn-primary" onclick="nextTab()"><i
                                            class="bx bx-chevron-left me-1"></i> Previous</a></li>
                                        <li class="next"><a href="javascript: void(0);" class="btn btn-primary" onclick="nextTab()" id="compose_btn">Skip <i
                                        class="bx bx-chevron-right ms-1"></i></a></li>
                                    </ul>
                                    </div>
                                </div>
                                <div class="tab-pane" id="progress-bank-detail">
                                    <div>
                                        <div class="mb-4">
                                            <h5>Compose</h5>
                                        </div>
                                        <div class="container" style="margin-top: 20px;">
                                            <form method="post" style="width: 75%;" id="mail_form">
                                                {% csrf_token %}
                                                {{ form.media }}
                                                {{ form|crispy }}
                                                <textarea name="recipient_list" id="recipient_list" style="display: none;"></textarea>
                                                <input type="submit" value="Send" class="btn btn-primary float-end">
                                            </form>
                                        </div>
                                        <ul class="pager wizard twitter-bs-wizard-pager-link">
                                            <li class="previous"><a href="javascript: void(0);" class="btn btn-primary" onclick="nextTab()"><i
                                            class="bx bx-chevron-left me-1"></i> Previous</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card body -->
                </div>
                <!-- end card -->
            </div>
            <!-- /Wizard -->
            
        </div>
    
    </div>	

</div>
<script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
<script>
     window.onload = ()=>{
        document.getElementById("no_of_var").oninput = ()=>{
            t = $("#tableP").DataTable();
            var tr = "<tr><th>Email</th>"
            for(var i = 1; i <= document.getElementById("no_of_var").value; i++){
                tr+=`<th>Var${i}</th>`;
            }
            tr+=`<th>Actions</th></tr>`
            document.querySelector("#tableP thead").innerHTML = tr;
            var div = `<div class="col-md-3"><label for="recipient_email">Email</label><input type="email" name="recipient_email" id="recipient_email" class="form-control"></div>`
            for(var i = 1; i <= document.getElementById("no_of_var").value; i++){
                div+=`<div class="col-md-3"><label for="Var${i}">Var${i}</label><input type="text" name="Var${i}" id="Var${i}" class="form-control"></div>` 
            }
            div+=`<div class="col-md-2"><br><button class="btn btn-primary" onclick="populate_ind_table()">Add</button></div>`
            document.getElementById("recipient_input").innerHTML = div;
            t.destroy();
            t = $("#tableP").DataTable();
        }
        document.getElementById("mail_form").onsubmit = (e)=>{
            var final_json = {}
            e.preventDefault();
            var t = $("#tableP").DataTable();
            final_json["length"] = t.rows().data().length; 
            final_json["vars"] = document.getElementById("no_of_var").value;
            var item = {}
            for(var i = 0; i<t.rows().data().length; i++){
                item["email"] = t.rows().data()[i][0];
                for(var j = 1; j <= document.getElementById("no_of_var").value; j++){
                    item[`Var${j}`] = t.rows().data()[i][j];
                }
                final_json[i] = item
                item = {}
            }
            document.getElementById("recipient_list").value = JSON.stringify(final_json);
            console.log(document.getElementById("recipient_list").value);
            document.getElementById("mail_form").submit();
        }
    }
    function content_populate(id){
        document.getElementById("modal_content").innerHTML = document.getElementById(`content_${id}`).innerHTML;
    }
    function template_populate(id){
        var editor = CKEDITOR.instances['id_content'].setData(document.getElementById(`content_${id}`).innerHTML);
        document.getElementById("compose_btn").click();
    }
    var id = 0;
    function populate_ind_table(){
        t = $("#tableP").DataTable();
        var email = document.getElementById("recipient_email");
        var arr = []
        arr.push(email.value)
        email.value = "";
        for(var i = 1; i <= document.getElementById("no_of_var").value; i++){
            arr.push(document.getElementById(`Var${i}`).value)
            document.getElementById(`Var${i}`).value = "";
        }
        arr.push(`<a class="confirm-text"><img src=" {% static 'assets/img/icons/delete.svg' %} " alt="img" class="icon-delete"></a>`)
        console.log("its here down below")
        id += 1;
        var rowNode = t.row.add(arr).draw(false);
    }
    $('#tableP tbody').on( 'click', 'img.icon-delete', function () {
        var t = $("#tableP").DataTable();
        t.row( $(this).parents('tr') )
        .remove()
        .draw();
} );
    function handleFileSelect(event) {
        var file = event.target.files[0];
        var table = document.getElementById("output");
        var t = $("#tableP").DataTable();
        Papa.parse(file, {
            header: true,
            dynamicTyping: true,
            complete: function(results) {
                var headers = Object.keys(results.data[0]);
                results.data.forEach(function(row) {
                    var arr = [];
                    var count = 0;
                    headers.forEach(function(header) {
                        if(count <= document.getElementById("no_of_var").value){
                            arr.push(row[header]);
                        }
                        console.log(row[header])
                        count++;
                    });
                    arr.push(`<a class="confirm-text">
                                        <img src=" {% static 'assets/img/icons/delete.svg' %} " alt="img" class="icon-delete">
                                    </a>`)
                    if (arr[0] != null){
                        t.row.add(arr).draw(false);
                    }
                });
            }
        });
    }
</script>
{% endblock %}