{% extends "dashboard/main.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .no_button {
        background: none;
        border: none;
    }
    #snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}
</style>
<div id="snackbar">this content has potential spam key-words..</div>
<div class="page-wrapper" style="margin: 0 0 0 130px !important;">
    <div class="content">
        <div class="card-body">
            <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded nav-justified">
                <li class="nav-item"><a class="nav-link active" href="#solid-rounded-justified-tab1" data-bs-toggle="tab" style="color: #222;" id="compose_btn">Compose</a></li>
                <li class="nav-item"><a class="nav-link" href="#solid-rounded-justified-tab2" data-bs-toggle="tab" style="color: #222;">Use Templates</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane show active" id="solid-rounded-justified-tab1">
                    <div class="container" style="margin-top: 20px;">
                        <form method="post" style="width: 75%;" id="mail_form">
                            {% csrf_token %}
                            <input type="hidden" name="variables" id="variables">
                            <label for="email_to">To* </label>
                            <input type="email" name="email_to" id="email_to" class="form-control">
                            <br>
                            {{ form.media }}
                            {{ form|crispy }}
                            <input type="submit" value="Create" class="btn btn-submit me-2">
                            <button onclick="curiate_content()" id="crt-con-btn" class="btn btn-submit me-2">Create content<button>
                        </form>
                    </div>
                </div>
                <div class="tab-pane" id="solid-rounded-justified-tab2">
                    <div class="container" style="margin-top: 20px;">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-top">
                                    <div class="search-set">
                                        <div class="search-input">
                                            <a class="btn btn-searchset"><img src=" {% static 'assets/img/icons/search-white.svg' %} "
                                                    alt="img"></a>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <p id="modal_content"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table  datanew">
                                <thead>
                                    <tr>
                                        <th>Template Name</th>
                                        <th>Visibitlity</th>
                                        <th>Created By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for template in templates %}
                                    <tr>
                                        <td>{{ template.name }}</td>
                                        {% if template.visibility %}
                                        <td>Public</td>
                                        {% else %}
                                        <td>Private</td>
                                        {% endif %}
                                        <td>{{ template.created_by }}</td>
                                        <td>
                                            <div style="display: none;" id="content_{{template.id}}">
                                                {{ template.body|safe }}
                                            </div>
                                            <a class="me-3" onclick="template_populate('{{ template.id }}')">
                                                <img src=" {% static 'assets/img/icons/use_this.png' %} " alt="img"
                                                    style="width: 20px">
                                            </a>
                                            <button type="button" class="no_button" data-bs-toggle="modal"
                                                data-bs-target="#myModal"
                                                onclick="content_populate('{{ template.id }}')"><img
                                                    src=" {% static 'assets/img/icons/eye1.svg' %} " alt="img"></button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% for template in public_templates %}
                                    <tr>
                                        <td>{{ template.name }}</td>
                                        {% if template.visibility %}
                                        <td>Public</td>
                                        {% else %}
                                        <td>Private</td>
                                        {% endif %}
                                        <td>{{ template.created_by }}</td>
                                        <td>
                                            <div style="display: none;" id="content_{{template.id}}">
                                                {{ template.body|safe }}
                                            </div>
                                            <a class="me-3" onclick="template_populate('{{ template.id }}')">
                                                <img src=" {% static 'assets/img/icons/use_this.png' %} " alt="img"
                                                    style="width: 20px">
                                            </a>
                                            <button type="button" class="no_button" data-bs-toggle="modal"
                                                data-bs-target="#myModal"
                                                onclick="content_populate('{{ template.id }}')"><img
                                                    src=" {% static 'assets/img/icons/eye1.svg' %} " alt="img"></button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
<script>
function findNumberedSubstrings(str) {
  const regex = /\{\{\s*(\d+)\s*\}\}/g;
  const matches = [];
  let match;
  
  while ((match = regex.exec(str)) !== null) {
    matches.push(match.index);
  }
  
  return matches;
}
window.onload = ()=>{
    CKEDITOR.instances["id_content"].on('change', function() { 
    console.log("TEST");
});
}
    function content_populate(id){
        document.getElementById("modal_content").innerHTML = document.getElementById(`content_${id}`).innerHTML;
    }
    function template_populate(id) {
        var editor = CKEDITOR.instances['id_content'].setData(document.getElementById(`content_${id}`).innerHTML);
        document.getElementById('compose_btn').click();
    }


    

  const Spam_word_ls =  ['as seen on',
 'buy',
 'buy direct',
 'buying judgments',
 'clearance',
 'order',
 'order status',
 'orders shipped by shopper',
 'dig up dirt on friends',
 'meet singles',
 'score with babes',
 'xxx',
 'near you',
 'additional income',
 'be your own boss',
 'compete for your business',
 'double your',
 'earn $',
 'earn extra cash',
 'earn per week',
 'expect to earn',
 'extra income',
 'home based',
 'home employment',
 'homebased business',
 'income from home',
 'make $',
 'make money',
 'money making',
 'online biz opportunity',
 'online degree',
 'opportunity',
 'potential earnings',
 'university diplomas',
 'while you sleep',
 'work at home',
 'work from home',
 '$$$',
 'affordable',
 'bargain',
 'beneficiary',
 'best price',
 'big bucks',
 'cash',
 'cash bonus',
 'cashcashcash',
 'cents on the dollar',
 'cheap',
 'check',
 'claims',
 'collect',
 'compare rates',
 'cost',
 'credit',
 'credit bureaus',
 'discount',
 'earn',
 'easy terms',
 'f r e e',
 'fast cash',
 'for just $xxx',
 'hidden assets',
 'hidden charges',
 'income',
 'incredible deal',
 'insurance',
 'investment',
 'loans',
 'lowest price',
 'million dollars',
 'money',
 'money back',
 'mortgage',
 'mortgage rates',
 'no cost',
 'no fees',
 'one hundred percent free',
 'only $',
 'pennies a day',
 'price',
 'profits',
 'pure profit',
 'quote',
 'refinance',
 'save $',
 'save big money',
 'save up to',
 'serious cash',
 'subject to credit',
 'they keep your money — no refund!',
 'unsecured credit',
 'unsecured debt',
 'us dollars',
 'why pay more?',
 'accept credit cards',
 'cards accepted',
 'check or money order',
 'credit card offers',
 'explode your business',
 'full refund',
 'investment decision',
 'no credit check',
 'no hidden costs',
 'no investment',
 'requires initial investment',
 'sent in compliance',
 'stock alert',
 'stock disclaimer statement',
 'stock pick',
 'avoice bankruptcy',
 'calling creditors',
 'collect child support',
 'consolidate debt and credit',
 'consolidate your debt',
 'eliminate bad credit',
 'eliminate debt',
 'financially independent',
 'get out of debt',
 'get paid',
 'lower interest rate',
 'lower monthly payment',
 'lower your mortgage rate',
 'lowest insurance rates',
 'pre-approved',
 'refinance home',
 'social security number',
 'your income',
 'acceptance',
 'accordingly',
 'avoid',
 'chance',
 'dormant',
 'freedom',
 'here',
 'hidden',
 'home',
 'leave',
 'lifetime',
 'lose',
 'maintained',
 'medium',
 'miracle',
 'never',
 'passwords',
 'problem',
 'remove',
 'reverses',
 'sample',
 'satisfaction',
 'solution',
 'stop',
 'success',
 'teen',
 'wife',
 'dear [email/friend/somebody]',
 'friend',
 'hello',
 'ad',
 'auto email removal',
 'bulk email',
 'click',
 'click below',
 'click here',
 'click to remove',
 'direct email',
 'direct marketing',
 'email harvest',
 'email marketing',
 'form',
 'increase sales',
 'increase traffic',
 'increase your sales',
 'internet market',
 'internet marketing',
 'marketing',
 'marketing solutions',
 'mass email',
 'member',
 'month trial offer',
 'more internet traffic',
 'multi level marketing',
 'notspam',
 'one time mailing',
 'online marketing',
 'open',
 'opt in',
 'performance',
 'removal instructions',
 'sale',
 'sales',
 'search engine listings',
 'search engines',
 'subscribe',
 'the following form',
 "this isn't junk",
 "this isn't spam",
 "undisclosed recipient",
 'unsubscribe',
 'visit our website',
 'we hate spam',
 'web traffic',
 'will not believe your eyes',
 'cures baldness',
 'diagnostic',
 'fast viagra delivery',
 'human growth hormone',
 'life insurance',
 'lose weight',
 'lose weight spam',
 'medicine',
 'no medical exams',
 'online pharmacy',
 'removes wrinkles',
 'reverses aging',
 'stop snoring',
 'valium',
 'viagra',
 'vicodin',
 'weight loss',
 'xanax',
 '#1',
 '100% free',
 '100% satisfied',
 '4u',
 '50% off',
 'billion',
 'billion dollars',
 'join millions',
 'join millions of americans',
 'million',
 'one hundred percent guaranteed',
 'thousands',
 'being a member',
 'billing address',
 'call',
 'cannot be combined with any other offer',
 'confidentially on all orders',
 'deal',
 'financial freedom',
 'gift certificate',
 'giving away',
 'guarantee',
 'have you been turned down?',
 'if only it were that easy',
 'important information regarding',
 'in accordance with laws',
 'long distance phone offer',
 'mail in order form',
 'message contains',
 'name brand',
 'nigerian',
 'no age restrictions',
 'no catch',
 'no claim forms',
 'no disappointment',
 'no experience',
 'no gimmick',
 'no inventory',
 'no middleman',
 'no obligation',
 'no purchase necessary',
 'no questions asked',
 'no selling',
 'no strings attached',
 'no-obligation',
 'not intended',
 'obligation',
 'off shore',
 'offer',
 'per day',
 'per week',
 'priority mail',
 'prize',
 'prizes',
 'produced and sent out',
 'reserves the right',
 'shopping spree',
 'stuff on sale',
 'terms and conditions',
 'the best rates',
 'they’re just giving it away',
 'trial',
 'unlimited',
 'unsolicited',
 'vacation',
 'vacation offers',
 'warranty',
 'we honor all',
 'weekend getaway',
 'what are you waiting for?',
 'who really wins?',
 'win',
 'winner',
 'winning',
 'won',
 'you are a winner!',
 'you have been selected',
 'you’re a winner!',
 'cancel at any time',
 'compare',
 'copy accurately',
 'get',
 'give it away',
 'print form signature',
 'print out and fax',
 'see for yourself',
 'sign up free today',
 'free',
 'free access',
 'free cell phone',
 'free consultation',
 'free dvd',
 'free gift',
 'free grant money',
 'free hosting',
 'free installation',
 'free instant',
 'free investment',
 'free leads',
 'free membership',
 'free money',
 'free offer',
 'free preview',
 'free priority mail',
 'free quote',
 'free sample',
 'free trial',
 'free website',
 'all natural',
 'all new',
 'amazing',
 'certified',
 'congratulations',
 'drastically reduced',
 'fantastic deal',
 'for free',
 'guaranteed',
 'it’s effective',
 'outstanding values',
 'promise you',
 'real thing',
 'risk free',
 'satisfaction guaranteed',
 'access',
 'act now!',
 'apply now',
 'apply online',
 'call free',
 'call now',
 "can't live without",
 'do it today',
 "don't delete",
 "don't hesitate",
 "for instant access",
 'for only',
 'for you',
 'get it now',
 'get started now',
 'great offer',
 'info you requested',
 'information you requested',
 'instant',
 'limited time',
 'new customers only',
 'now',
 'now only',
 'offer expires',
 'once in lifetime',
 'one time',
 'only',
 'order now',
 'order today',
 'please read',
 'special promotion',
 'supplies are limited',
 'take action now',
 'time limited',
 'urgent',
 'while supplies last',
 'addresses on cd',
 'beverage',
 'bonus',
 'brand new pager',
 'cable converter',
 'casino',
 'celebrity',
 'copy dvds',
 'laser printer',
 'legal',
 'luxury car',
 'new domain extensions',
 'phone',
 'rolex',
 'stainless steel']


    window.onload = () => {CKEDITOR.instances['id_content'].on('change', function() { 
            ckeditor()
        });
    }

    function ckeditor() {
        for (var instance in CKEDITOR.instances){
            CKEDITOR.instances[instance].updateElement();
        }
        var temp = CKEDITOR.instances[instance].getData();
        const myString = $(temp).text();  
       
            const regex = new RegExp('\\b(' + Spam_word_ls.join('|') + ')\\b', 'gi');
            
            myString.toLocaleLowerCase()
            let x = myString.match(regex)
            if(x.length>7){
                let el = document.getElementById("snackbar")
                console.log('if calls');
                el.textContent += [...new Set(x)].join(",")
                el.className = "show";
                setTimeout(function(){ el.className = el.className.replace("show", ""); }, 3000);}
                
        }

    async function curiate_content(){
        const a = document.getElementById('id_subject').value
        const btt = document.getElementById('crt-con-btn')
        const b = "write a mail content for " + a + " without unnessary data" 
        btt.textContent = "Generating content..."
        let postData = JSON.stringify(b);
        
        let x = await fetch("/curiate-content/", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: postData,
        })
        let y = await x.text()
        let z = JSON.parse(y)
        for (var instance in CKEDITOR.instances){
            CKEDITOR.instances[instance].updateElement();
        }
        btt.textContent='Create content'
         CKEDITOR.instances[instance].setData(`<p>${z.response}</p>`);
    }

</script>
</script>
{% endblock %}