{% extends "dashboard/main.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .no_button{
        background: none;
        border: none;
    }
    .hr-text {
        line-height: 1em;
        position: relative;
        outline: 0;
        border: 0;
        color: black;
        text-align: center;
        height: 1.5em;
        opacity: 0.5;
    }
    .hr-text:before {
        content: "";
        background: linear-gradient(to right, transparent, #818078, transparent);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
    }
    .hr-text:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: black;
        padding: 0 0.5em;
        line-height: 1.5em;
        background-color: #fcfcfa;
    }
</style>
<div class="page-wrapper" style="margin: 0 0 0 130px !important;">
    <div class="content">
        <div class="card-body">
            <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded nav-justified">
                <li class="nav-item"><a class="nav-link active" href="#solid-rounded-justified-tab1" data-bs-toggle="tab" style="color: #222;">Select Recipients</a></li>
                <li class="nav-item"><a class="nav-link" href="#solid-rounded-justified-tab2" data-bs-toggle="tab" style="color: #222;" id="compose_btn">Compose</a></li>
                <li class="nav-item"><a class="nav-link" href="#solid-rounded-justified-tab3" data-bs-toggle="tab" style="color: #222;">Use Templates</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane show active" id="solid-rounded-justified-tab1">
                    <div class="container" style="margin-top: 20px;">
                        <p>Number of variables</p>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="number" id="no_of_var" class="form-control" name="no_of_var">
                            </div>
                        </div>
                        <br>
                        <p>Import CSV</p>
                        <input type="file" id="fileInput" accept=".csv" onchange="handleFileSelect(event)" class="form-control">
                        <br>
                        <hr class="hr-text" data-content="OR">
                        <p style="text-align: center; position: relative; bottom: 25px;">OR</p>
                        <p>Add Recipient</p>
                        <div class="row" id="recipient_input">
                            <div class="col-md-3"><label for="recipient_email">Email</label><input type="email" name="recipient_email" id="recipient_email" class="form-control"></div>
                            <div class="col-md-2"><br><button class="btn btn-primary" onclick="populate_ind_table()">Add</button></div>
                        </div>

                        <hr>
                        <div class="card">
                            <div class="card-body">
                                <p>Recipient List</p>
                                <div class="table-top">
                                    <div class="search-set">
                                        <div class="search-input">
                                            <a class="btn btn-searchset"><img src=" {% static 'assets/img/icons/search-white.svg' %} "
                                                    alt="img"></a>
                                        </div>
                                    </div>
                                    <div class="wordset">
                                        <ul>
                                            <li>
                                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img
                                                        src=" {% static 'assets/img/icons/pdf.svg' %} " alt="img"></a>
                                            </li>
                                            <li>
                                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
                                                        src=" {% static 'assets/img/icons/excel.svg' %} " alt="img"></a>
                                            </li>
                                            <li>
                                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                                                        src=" {% static 'assets/img/icons/printer.svg' %} " alt="img"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table datanew" id="tableP">
                                        <thead >
                                            <tr>
                                                <th>Email</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody id="output">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane show" id="solid-rounded-justified-tab2">
                    <div class="container" style="margin-top: 20px;">
                        <form method="post" style="width: 75%;" id="mail_form">
                            {% csrf_token %}
                            {{ form.media }}
                            {{ form|crispy }}
                            <textarea name="recipient_list" id="recipient_list" style="display: none;"></textarea>
                            <input type="submit" value="Create" class="btn btn-submit me-2">
                        </form>
                    </div>
                </div>
                <div class="tab-pane" id="solid-rounded-justified-tab3">
                    <div class="container" style="margin-top: 20px;">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-top">
                                    <div class="search-set">
                                        <div class="search-input">
                                            <a class="btn btn-searchset"><img src=" {% static 'assets/img/icons/search-white.svg' %} "
                                                    alt="img"></a>
                                        </div>
                                    </div>
                                    <div class="wordset">
                                        <ul>
                                            <li>
                                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img
                                                        src=" {% static 'assets/img/icons/pdf.svg' %} " alt="img"></a>
                                            </li>
                                            <li>
                                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
                                                        src=" {% static 'assets/img/icons/excel.svg' %} " alt="img"></a>
                                            </li>
                                            <li>
                                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                                                        src=" {% static 'assets/img/icons/printer.svg' %} " alt="img"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog modal-lg">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Preview</h4>
                                        </div>
                                        <div class="modal-body">
                                          <p id="modal_content"></p>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table datanew">
                                        <thead>
                                            <tr>
                                                <th>Template Name</th>
                                                <th>Visibitlity</th>
                                                <th>Created By</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for template in templates %}
                                            <tr>
                                                <td>{{ template.name }}</td>
                                                {% if template.visibility %}
                                                <td>Public</td>
                                                {% else %}
                                                <td>Private</td>
                                                {% endif %}
                                                <td>{{ template.created_by }}</td>
                                                <td>
                                                    <div style="display: none;" id="content_{{template.id}}">
                                                        {{ template.body|safe }}
                                                    </div>
                                                    <a class="me-3" onclick="template_populate('{{ template.id }}')">
                                                        <img src=" {% static 'assets/img/icons/use_this.png' %} " alt="img" style="width: 20px">
                                                    </a>
                                                    <button type="button" class="no_button" data-bs-toggle="modal" data-bs-target="#myModal" onclick="content_populate('{{ template.id }}')"><img src=" {% static 'assets/img/icons/eye1.svg' %} " alt="img"></button>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% for template in public_templates %}
                                            <tr>
                                                <td>{{ template.name }}</td>
                                                {% if template.visibility %}
                                                <td>Public</td>
                                                {% else %}
                                                <td>Private</td>
                                                {% endif %}
                                                <td>{{ template.created_by }}</td>
                                                <td>
                                                    <div style="display: none;" id="content_{{template.id}}">
                                                        {{ template.body|safe }}
                                                    </div>
                                                    <a class="me-3" onclick="template_populate('{{ template.id }}')">
                                                        <img src=" {% static 'assets/img/icons/use_this.png' %} " alt="img" style="width: 20px">
                                                    </a>
                                                    <button type="button" class="no_button" data-bs-toggle="modal" data-bs-target="#myModal" onclick="content_populate('{{ template.id }}')"><img src=" {% static 'assets/img/icons/eye1.svg' %} " alt="img"></button>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
<script>
    window.onload = ()=>{
        document.getElementById("no_of_var").oninput = ()=>{
            t = $("#tableP").DataTable();
            var tr = "<tr><th>Email</th>"
            for(var i = 1; i <= document.getElementById("no_of_var").value; i++){
                tr+=`<th>Var${i}</th>`;
            }
            tr+=`<th>Actions</th></tr>`
            document.querySelector("#tableP thead").innerHTML = tr;
            var div = `<div class="col-md-3"><label for="recipient_email">Email</label><input type="email" name="recipient_email" id="recipient_email" class="form-control"></div>`
            for(var i = 1; i <= document.getElementById("no_of_var").value; i++){
                div+=`<div class="col-md-3"><label for="Var${i}">Var${i}</label><input type="text" name="Var${i}" id="Var${i}" class="form-control"></div>` 
            }
            div+=`<div class="col-md-2"><br><button class="btn btn-primary" onclick="populate_ind_table()">Add</button></div>`
            document.getElementById("recipient_input").innerHTML = div;
            t.destroy();
            t = $("#tableP").DataTable();
        }
        document.getElementById("mail_form").onsubmit = (e)=>{
            var final_json = {}
            e.preventDefault();
            var t = $("#tableP").DataTable();
            final_json["length"] = t.rows().data().length; 
            var item = {}
            for(var i = 0; i<t.rows().data().length; i++){
                item["email"] = t.rows().data()[i][0];
                for(var j = 1; j <= document.getElementById("no_of_var").value; j++){
                    item[`Var${j}`] = t.rows().data()[i][j];
                }
                final_json[i] = item
                item = {}
            }
            document.getElementById("recipient_list").value = JSON.stringify(final_json);
            document.getElementById("mail_form").submit();
        }
    }
    function content_populate(id){
        document.getElementById("modal_content").innerHTML = document.getElementById(`content_${id}`).innerHTML;
    }
    function template_populate(id){
        var editor = CKEDITOR.instances['id_content'].setData(document.getElementById(`content_${id}`).innerHTML);
        document.getElementById('compose_btn').click();
    }
    var id = 0;
    function populate_ind_table(){
        t = $("#tableP").DataTable();
        var email = document.getElementById("recipient_email");
        var arr = []
        arr.push(email.value)
        email.value = "";
        for(var i = 1; i <= document.getElementById("no_of_var").value; i++){
            arr.push(document.getElementById(`Var${i}`).value)
            document.getElementById(`Var${i}`).value = "";
        }
        arr.push(`<a class="confirm-text"><img src=" {% static 'assets/img/icons/delete.svg' %} " alt="img" class="icon-delete"></a>`)
        console.log("its here down below")
        id += 1;
        var rowNode = t.row.add(arr).draw(false);
    }
    $('#tableP tbody').on( 'click', 'img.icon-delete', function () {
        var t = $("#tableP").DataTable();
        t.row( $(this).parents('tr') )
        .remove()
        .draw();
} );
    function handleFileSelect(event) {
        var file = event.target.files[0];
        var table = document.getElementById("output");
        var t = $("#tableP").DataTable();
        Papa.parse(file, {
            header: true,
            dynamicTyping: true,
            complete: function(results) {
                var headers = Object.keys(results.data[0]);
                results.data.forEach(function(row) {
                    var arr = [];
                    var tr = "<tr>";
                    headers.forEach(function(header) {
                        if (row[header] == NULL){
                            var flag = 1;
                        }
                        tr+=`<td>${row[header]}</td>`
                    });
                    if(flag != 1){
                        tr += `<td><a class="confirm-text">
                                        <img src=" {% static 'assets/img/icons/delete.svg' %} " alt="img" class="icon-delete">
                                    </a></td></tr>`
                        document.querySelector("#tableP tbody").innerHTML += tr;
                    }
                });
            }
        });
    }
</script>
{% endblock %}